{% extends 'base.html' %}
{% block content %}
<h1>Countries</h1>
<a href="{% url 'geography:country_create' %}" class="btn btn-success mb-3">Add Country</a>

<div class="table-responsive">
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">ISO Code</th>
        <th scope="col">Name</th>
        <th scope="col">Population</th>
        <th scope="col">Area (sq km)</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for country in countries %}
        <tr>
          <td class="text-break">{{ country.country_iso_code }}</td>
          <td class="text-break">{{ country.country_name }}</td>
          <td>{{ country.population }}</td>
          <td>{{ country.area_sq_km }}</td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <a href="{% url 'geography:country_update' country.pk %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'geography:country_delete' country.pk %}" class="btn btn-danger">Delete</a>
            </div>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No countries available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
