[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-extensions = "*"
django-easy-logging = "*"
flake8 = "*"
black = "*"
whitenoise = "*"
mkdocs = "*"
mkdocs-get-deps = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
